@import url('https://unpkg.com/css.gg@2.0.0/icons/css/math-plus.css');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* NavBar */
.nav-btn {
  border: none;
  font-size: 20px;
  font-weight: 700;
}

.nav-btn:hover {
  opacity: 90%;
}

.nav-btn:active {
  opacity: 70%;
}

.nav-btn-products {
  background-color: #2fc18c;
  color: black;
  width: 300px;
}

.nav-btn-orders {
  background-color: #036b52;
  color: white;
  flex-grow: 2;
  padding-left: 50px;
  text-align: left;
}

.nav-user-name {
  background-color: #421981;
  color: white;
  font-size: 20px;
  padding: 0 50px;
}

.nav-btn-logout {
  background-color: #056cf9;
  color: white;
  flex-grow: 0.3;
}

/* Login and Register */
.card-login {
  background: #eaf1ef;
  border: 1px solid #b1c2be;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  height: 350px;
  width: 400px;
}

/* --------------------página de produtos -------------------- */
#body_cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin-left: 90px;
}

.cards_products {
  align-items: center;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  margin: 10px;
}

.price_title {
  background-color: #f2fffc;
  font-size: 30px;
  margin-top: 10px;
  text-align: center;
  width: 150px;
}

.title_card {
  color: black;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
}

.image_product {
  height: 250px;
  width: auto;
}

#button_decrescent {
  border-radius: 20% 0% 0% 20%;
}

.button_sum {
  background-color: #036b52;
  border-radius: 0% 20% 20% 0%;
  color: white;
  font-size: 16px;
  height: 38px;
  width: 35px;
}

.card_footer {
  align-items: center;
  background-color: #eaf1ef;
  height: 120px;
  width: 270px;
}

.input_value_button {
  height: 38px;
  text-align: center;
  width: 60px;
}

.card-body {
  padding: 0;
}

.footer_container_products {
  margin-left: 60px;
}

.card-body {
  margin: 0;
}

#checkout {
  background-color: #036b52;
  border-radius: 10px;
  color: #eaf1ef;
  font-size: 30px;
  left: 80%;
  padding: 5px;
  position: absolute;
  position: fixed;
  top: 90%;
  width: 350px;
}

#span_checkout {
  font-weight: bold;
}

.bg-pending {
  background-color: #ccb800bf;
}

.bg-in-transit {
  background-color: #66cc00bf;
}

.bg-done {
  background-color: #00cc9bbf;
}

.bg-order-card {
  background: #eaf1ef;
}

.bg-order-sub {
  background: #f2fffcbf;
}

.td-neutral {
  background-color: #eaf1ef;
}

.td-primary {
  background-color: #036b52;
  color: white;
}

.td-secondary {
  background-color: #2fc18c;
}

.td-secondary-alt {
  background-color: #2fc18c;
  color: white;
}

.td-tertiary {
  background-color: #421981;
  color: white;
}

.td-quaternary {
  background-color: #056cf9;
  color: white;
}

.td-end {
  border-radius: 0 5px 5px 0;
}

.td-start {
  border-radius: 5px 0 0 5px;
}
