@import url('https://unpkg.com/css.gg@2.0.0/icons/css/math-plus.css');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* NavBar */
.nav-btn {
  border: none;
  font-size: 20px;
  font-weight: 700;
}

.nav-btn:hover {
  opacity: 90%;
}

.nav-btn:active {
  opacity: 70%;
}

.nav-btn-products {
  background-color: #2fc18c;
  color: black;
  width: 300px;
}

.nav-btn-orders {
  background-color: #036b52;
  color: white;
  flex-grow: 2;
  padding-left: 50px;
  text-align: left;
}

.nav-user-name {
  background-color: #421981;
  color: white;
  font-size: 20px;
  padding: 0 50px;
}

.nav-btn-logout {
  background-color: #056cf9;
  color: white;
  flex-grow: 0.3;
}

/* Login and Register */
.card-login {
  background: #eaf1ef;
  border: 1px solid #b1c2be;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  height: 350px;
  width: 400px;
}

/* Products */
.card-product {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  margin: 10px;
  width: 300px;
}

.card-product img {
  height: 250px;
  margin: 1em;
  width: min-content;
}

.card-product-price {
  background-color: #f2fffc;
  margin: 10px 0 0 10px;
  padding: 0 10px;
  position: absolute;
  text-align: center;
}

.card-product-price h4 {
  display: inline-block;
  font-size: 28px;
  font-weight: 700;
}

.card-product-bottom {
  background-color: #b1c2be;
  width: 100%;
}

.card-product-bottom h3 {
  font-size: 20px;
  font-weight: 400;
  margin: 0.4em;
}

.card-product-btns {
  display: flex;
  margin: 0.4em;
  width: 150px;
}

.card-product-btns button {
  width: 30px;
}

.card-product-btns input {
  border-radius: 0;
  text-align: center;
  width: 5em;
}

.btn-checkout {
  bottom: 30px;
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  position: fixed;
  right: 30px;
}

.cards_products {
  align-items: center;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  margin: 10px;
}

.bg-pending {
  background-color: #ccb800bf;
}

.bg-in-transit {
  background-color: #66cc00bf;
}

.bg-done {
  background-color: #00cc9bbf;
}

.bg-order-card {
  background: #eaf1ef;
}

.bg-order-sub {
  background: #f2fffcbf;
}

.td-neutral {
  background-color: #eaf1ef;
}

.td-primary {
  background-color: #036b52;
  color: white;
}

.td-secondary {
  background-color: #2fc18c;
}

.td-secondary-alt {
  background-color: #2fc18c;
  color: white;
}

.td-tertiary {
  background-color: #421981;
  color: white;
}

.td-quaternary {
  background-color: #056cf9;
  color: white;
}

.td-end {
  border-radius: 0 5px 5px 0;
}

.td-start {
  border-radius: 5px 0 0 5px;
}
